<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вопрос {{ question_number + 1 }} из {{ total }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="title">Тестирование на пост заместителя R RP 07</h1>
        
        <h2>Вопрос {{ question_number + 1 }} из {{ total }}</h2>
        <p><b>{{ question }}</b></p>

        <form method="POST">
            <textarea name="answer" required></textarea><br>
            <button type="submit" class="button">Далее</button>
        </form>
    </div>
</body>
</html>
