<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Тестирование на пост заместителя R RP 07</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h1>Тестирование на пост заместителя R RP 07</h1>
    <p><b>Вопрос {{ question_number }} из {{ total }}:</b></p>
    <p>{{ question }}</p>
    <form method="POST">
        <input type="text" name="answer" placeholder="Введите ответ" required>
        <button type="submit" class="submit-btn">Далее</button>
    </form>
</div>
</body>
</html>
