<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Тестирование на пост заместителя R RP 07</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Тестирование на пост заместителя R RP 07</h1>
        <h2>Вопрос {{ question_number + 1 }} из {{ total }}</h2>
        <p>{{ question["question"] }}</p>
        <form method="POST">
            <input type="text" name="answer" placeholder="Введите свой ответ" required>
            <input type="hidden" name="question_number" value="{{ question_number }}">
            <input type="hidden" name="nickname" value="{{ nickname }}">
            <br><br>
            <button type="submit" class="submit-btn">Далее</button>
        </form>
    </div>
</body>
</html>
